@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/* header */

header{
    background-color: white;
}

header h1{
    margin-top: 15px;
    margin-bottom: 15px;
}

body{
    background-color: rgb(66, 66, 66);
}

main{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10rem;
}

/* botones */
#boton_jugar{
    margin-top: 10%;
}


#circulo_principal{
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform: rotate(45deg);
}

/* colores */
#amarillo{
    width: 100px;
    height: 100px;
    background-color: rgb(161, 163, 28);
    filter: brightness(100%);
}

#verde{
    width: 100px;
    height: 100px;
    background-color: green;
    filter: brightness(100%);
}

#rojo{
    width: 100px;
    height: 100px;
    background-color: rgb(129, 49, 49);
    filter: brightness(100%);
}

#azul{
    width: 100px;
    height: 100px;
    background-color: rgb(27, 27, 141);
    filter: brightness(100%);
}

